<button class="btn btn-icon-text btn-primary create topic-footer-button" title="spare reply button" type="button">
<svg class="fa d-icon d-icon-reply svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="#reply"></use></svg>      <span class="d-button-label">Reply again<!----></span>
</button> 
